.container-fluid {
  padding-top: calc(var(--bs-gutter-x) * 1.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 1.5);
  padding-right: calc(var(--bs-gutter-x) * 1.5);
}

.background2 {
  background-image: url('../../assets/images/Background.png');
  background-size: cover;
  min-height: 100vh;
  /* background-repeat: repeat-x; */
}

.loadingcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; */
  padding-bottom: 50px;
}

.loadingicon {
  animation: spin 1s infinite linear;
  font-size: 24px;
  margin-right: 8px;
}

.dropdown-pos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-end: 30px;
}