.container-fluid {
  padding-top: calc(var(--bs-gutter-x) * 1.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 1.5);
  padding-right: calc(var(--bs-gutter-x) * 1.5);
}

.background2 {
  background-image: url('../../assets/images/Background.png');
  background-size: cover;
  min-height: 100vh;
  /* background-repeat: repeat-x; */
}
