.project {
  display: inline-block;
  margin: 5px 0px 0px 15px;
  text-decoration: underline;
}

.box-style {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../assets/images/Background.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
}

.card-style {
  min-width: 90%;
  border-radius: 2px;
  padding: 1px;
  margin-top: 10px;
  padding-bottom: 60px;
  overflow: visible;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
}

.create-project {
  padding-top: 150px;
}

.project-status {
  display: block;
  text-align: center;
  padding-bottom: 50px;
  font-weight: bold;
}

.project-status-data {
  display: block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}